@model IEnumerable<LesExpo.Models.Slider>

@{
  var sliders = Model.ToList();
  var sliderCount = sliders.Count;
}

<!-- Slider Start -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
    </div> -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="video-container"></div>
      <video class="desktop-video" autoplay loop muted playsinline>
        <source src="./videos/lesexpo-video-masaustu.mp4" type="video/mp4">
      </video>
      <video class="mobile-video" autoplay loop muted playsinline>
        <source src="./videos/lesexpo-turkce-mobil.mp4" type="video/mp4">
      </video>
    </div>
    <!-- Hero Content for first slide -->
    <div class="hero-content">
      <h1>LES-EXPO 2026</h1>
      <p>Dünya Yük Mühendisliği Hizmetleri Firmaları 7-9 Nisan 2026'da İstanbul'da Buluşuyor</p>
    </div>
  </div>
  <!-- <div class="carousel-item">
          <img src="./images/LESEXPOSLIDER.jpg" class="d-block w-100 img-1 video-slide" alt="...">

          <div class="hero-content">
            <h1>YÜK MÜHENDİSLİĞİ FUARI</h1>
            <p>Türkiye'nin İlk Yük Mühendisliği İhtisas Fuarı</p>
          </div>
        </div> -->
</div>
<!-- Fixed Stats Section -->
<div class="stats">
  <h4>RAKAMLAR İLE LES-EXPO 2026</h4>
  <div class="stat-item">
    <h2>28.000</h2>
    <span>m² alan</span>
  </div>
  <div class="stat-item">
    <h2>3 Kıtadan</h2>
    <span>ziyaretçi</span>
  </div>
</div>
<!-- <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
</div>
<!-- Slider End -->