    <!-- Logo Slider -->
    <div class="container-fluid logo-slider">
        <div class="logo-slider-container">
            <!-- First Slide -->
            <div class="logo-slide">
                <a href="https://ymbd.org" class="logo-link" target="_blank">
                    <div class="logo-img-container">
                        <img src="~/images/yukmuhlogo.png" alt="YMB" class="logo-img-slider">
                    </div>
                    <div class="logo-text"></div>
                </a>
                <a href="https://www.kfa.com.tr" class="logo-link" target="_blank">
                    <div class="logo-img-container">
                        <img src="~/images/kfa-logo.png" alt="KFA" class="logo-img-slider">
                    </div>
                    <div class="logo-text"></div>
                </a>
                <a href="https://www.tetsiad.org.tr" class="logo-link" target="_blank">
                    <div class="logo-img-container">
                        <img src="~/images/ifmlogo_300x130.png" alt="TETSİAD" class="logo-img-slider">
                    </div>
                    <div class="logo-text"></div>
                </a>
            </div>

            <!-- Second Slide (duplicate for seamless looping) -->
            <div class="logo-slide">
                <a href="https://ymbd.org" class="logo-link" target="_blank">
                    <div class="logo-img-container">
                        <img src="~/images/yukmuhlogo.png" alt="YMB" class="logo-img-slider">
                    </div>
                    <div class="logo-text"></div>
                </a>
                <a href="https://www.kfa.com.tr" class="logo-link" target="_blank">
                    <div class="logo-img-container">
                        <img src="~/images/kfa-logo.png" alt="KFA" class="logo-img-slider">
                    </div>
                    <div class="logo-text"></div>
                </a>
                <a href="https://www.tetsiad.org.tr" class="logo-link" target="_blank">
                    <div class="logo-img-container">
                        <img src="~/images/ifmlogo_300x130.png" alt="TETSİAD" class="logo-img-slider">
                    </div>
                    <div class="logo-text"></div>
                </a>
            </div>
        </div>
    </div>

  <!-- Footer Start -->
<footer class="footer">
  <div class="footer-content mt-3">
    <div class="footer-left">
      <div class="logo-footer">
        <img src="~/images/lesexpologo-footer.png" alt="">
      </div>
        <p class="address">CONTACT INFORMATION</p>
      <div class="contact-info">
        <p><i class="fas fa-phone"></i><span>+90 549 458 56 10</span></p>
        <p><i class="fas fa-phone"></i><span>+90 546 458 77 16</span></p>
        <p><i class="fas fa-phone"></i><span>+90 549 458 01 34</span></p>
        <p><i class="fas fa-envelope"></i><span>info@les-expo.com</span></p>
        <p><i class="fas fa-envelope"></i><span>lesexpo@kfa.com.tr</span></p>
      </div>
        <h4 class="follow-us">Follow us</h4>
      <div class="social-icons-footer">
        <a href="https://www.facebook.com/lesexpofair" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://x.com/lesexpofair" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.instagram.com/lesexpofair/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@@lesexpofair" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/company/yük-mühendisliği-birliği/" target="_blank"><i
            class="fab fa-linkedin-in"></i></a>
      </div>
    </div>

    <div class="footer-right">
        <div class="footer-links">
          <div class="footer-column">
            <h3>LES-EXPO</h3>
            <ul>
              <li><a href="about-us.html">About</a></li>
              <li><a href="exhibiton-identification.html">Exhibiton Identification</a></li>
              <li><a href="exhibition-area.html">Exhibiton Area</a></li>
              <li><a href="how-to-reach.html">How To Reach?</a></li>
              <li><a href="show-report.html">Post Show Report</a></li>
            </ul>
          </div>

          <div class="footer-column">
            <h3>Exhibitor</h3>
            <ul>
              <li><a href="exhibitor-profile.html">Exhibitor Profile</a></li>
              <li><a href="pre-registration-form.html">Pre-Registration Form</a></li>
              <li><a href="why-exhibit.html">Why Should You Exhibit</a></li>
              <li><a href="exhibitor-list.html">2025 Exhibitor List</a></li>
            </ul>
          </div>

          <div class="footer-column">
            <h3>Visitor</h3>
            <ul>
              <li><a href="visitor-profile.html">Visitor Profile</a></li>
              <li><a href="why-visit.html">Why Should You Visit?</a></li>
              <li><a href="faq.html">Frequently Asked Questions</a></li>
            </ul>
          </div>

          <div class="footer-column">
            <h3>Events</h3>
            <ul>
              <li><a href="b2b-meeting.html">B2B Toplantıları</a></li>
              <li><a href="all-news.html">Haberler</a></li>
              <li><a href="les-insights.html">LES Insights</a></li>
              <li><a href="les-experiences.html">LES Experiences</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</footer>