    <!-- Logo Slider -->
    <div class="container-fluid logo-slider">
        <div class="logo-slider-container">
            <!-- First Slide -->
            <div class="logo-slide">
                <a href="https://ymbd.org" class="logo-link" target="_blank">
                    <div class="logo-img-container">
                        <img src="/images/yukmuhlogo.png" alt="YMB" class="logo-img-slider">
                    </div>
                    <div class="logo-text"></div>
                </a>
                <a href="https://www.kfa.com.tr" class="logo-link" target="_blank">
                    <div class="logo-img-container">
                        <img src="/images/kfa-logo.png" alt="KFA" class="logo-img-slider">
                    </div>
                    <div class="logo-text"></div>
                </a>
                <a href="https://ifm.com.tr" class="logo-link" target="_blank">
                    <div class="logo-img-container">
                        <img src="/images/ifmlogo_300x130.png" alt="" class="logo-img-slider">
                    </div>
                    <div class="logo-text"></div>
                </a>
            </div>

            <!-- Second Slide (duplicate for seamless looping) -->
            <div class="logo-slide">
                <a href="https://ymbd.org" class="logo-link" target="_blank">
                    <div class="logo-img-container">
                        <img src="/images/yukmuhlogo.png" alt="YMB" class="logo-img-slider">
                    </div>
                    <div class="logo-text"></div>
                </a>
                <a href="https://www.kfa.com.tr" class="logo-link" target="_blank">
                    <div class="logo-img-container">
                        <img src="/images/kfa-logo.png" alt="KFA" class="logo-img-slider">
                    </div>
                    <div class="logo-text"></div>
                </a>
                <a href="https://ifm.com.tr" class="logo-link" target="_blank">
                    <div class="logo-img-container">
                        <img src="/images/ifmlogo_300x130.png" alt="" class="logo-img-slider">
                    </div>
                    <div class="logo-text"></div>
                </a>
            </div>
        </div>
    </div>

  <!-- Footer Start -->
  <footer class="footer">
    <div class="footer-content mt-3">
      <div class="footer-left">
        <div class="logo-footer">
          <img src="./images/lesexpologo-footer.png" alt="">
        </div>
        <p class="address">CONTACT INFORMATION</p>
        <div class="contact-info">
          <p><i class="fas fa-phone"></i><span>+90 549 458 56 10</span></p>
          <p><i class="fas fa-phone"></i><span>+90 546 458 77 16</span></p>
          <p><i class="fas fa-phone"></i><span>+90 549 458 01 34</span></p>
          <p><i class="fas fa-envelope"></i><span>info@les-expo.com</span></p>
          <p><i class="fas fa-envelope"></i><span>lesexpo@kfa.com.tr</span></p>
        </div>
        <h4 class="follow-us">Follow us</h4>
        <div class="social-icons-footer">
          <a href="https://www.facebook.com/lesexpofair" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://x.com/lesexpofair" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="https://www.instagram.com/lesexpofair/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/@@lesexpofair" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="https://www.linkedin.com/company/yük-mühendisliği-birliği/" target="_blank"><i
              class="fab fa-linkedin-in"></i></a>
        </div>
      </div>

      <div class="footer-right">
        <div class="footer-links">
          <div class="footer-column">
            <h3>LES-EXPO</h3>
            <ul>
              <li><a href="/en/about-us">About</a></li>
              <li><a href="/en/exhibiton-identification">Exhibiton Identification</a></li>
              <li><a href="/en/exhibition-area">Exhibiton Area</a></li>
              <li><a href="/en/how-to-reach">How To Reach?</a></li>
              <li><a href="#">Post Show Report</a></li>
            </ul>
          </div>

          <div class="footer-column">
            <h3>Exhibitor</h3>
            <ul>
              <li><a href="/en/exhibitor-profile">Exhibitor Profile</a></li>
              <li><a href="/en/pre-registration-form">Pre-Registration Form</a></li>
              <li><a href="/en/why-exhibit">Why Should You Exhibit</a></li>
              <li><a href="/en/exhibitor-list">2026 Exhibitor List</a></li>
            </ul>
          </div>

          <div class="footer-column">
            <h3>Visitor</h3>
            <ul>
              <li><a href="/en/visitor-profile">Visitor Profile</a></li>
              <li><a href="/en/why-visit">Why Should You Visit?</a></li>
              <li><a href="/en/faq">Frequently Asked Questions</a></li>
            </ul>
          </div>

          <div class="footer-column">
            <h3>Events</h3>
            <ul>
              <li><a href="/en/b2b-meeting">B2B Toplantıları</a></li>
              <li><a href="/en/all-news">Haberler</a></li>
              <li><a href="/en/les-insights">LES Insights</a></li>
              <li><a href="/en/les-experiences">LES Experience</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-section">
    <div class="copyright-left">
      Copyright © 2026 LES-EXPO All Rights Reserved
    </div>
    <div class="copyright-right">
      <a href="#" class="privacy-link-en" data-modal="kvkk">LPPD</a> •
      <a href="#" class="privacy-link-en" data-modal="privacy">CONFIDENTIALITY AGREEMENT</a> •
      <a href="#" class="privacy-link-en" data-modal="user-agreement">USER AGREEMENT</a>
    </div>
  </div>
  </footer>

  <!-- Privacy Modal -->
<div class="privacy-modal-en" id="privacyModal-en">
  <div class="privacy-modal-content-en">
    <div class="privacy-modal-header">
      <h2 id="modalTitle-en">Privacy Agreement</h2>
      <button class="privacy-modal-close-en">&times;</button>
    </div>
    <div class="privacy-modal-body" id="modalContent-en">
      <!-- Content will be loaded dynamically -->
    </div>
  </div>
</div>


