    <div class="col-md-3 sidebar-container">
        <div class="sidebar">
        <div class="sidebar-sticky">
            <div class="sidebar-header p-3 mb-3 text-center">
            <h3 class="" data-translate="hakkimizda.sidebar.mainTitle">LESEXPO</h3>
            <p class="small mb-0" data-translate="hakkimizda.sidebar.subTitle">Hakkında</p>
            </div>
            <ul class="nav flex-column">
            <!-- Hakkımızda -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="collapse"
                data-bs-target="#hakkimizdaSubmenu" aria-expanded="true">
                <span class="menu-icon"><i class="fas fa-info-circle"></i></span>
                <span data-translate="hakkimizda.sidebar.aboutUs">Hakkımızda</span>
                </a>
                <div class="collapse show" id="hakkimizdaSubmenu">
                <ul class="nav flex-column submenu">
                    <li class="nav-item">
                    <a class="nav-link" href="/tr/hakkimizda">
                        <i class="fas fa-angle-right me-2"></i>
                        <span data-translate="hakkimizda.sidebar.bfmAbout">LESEXPO
                        Hakkında</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/tr/fuar-kunyesi">
                        <i class="fas fa-angle-right me-2"></i>
                        <span data-translate="hakkimizda.sidebar.presidentMessage">Fuar
                        Künyesi</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/tr/fuar-alani">
                        <i class="fas fa-angle-right me-2"></i>
                        <span data-translate="hakkimizda.sidebar.qualityPolicy">Fuar
                        Alanı</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/tr/ulasim">
                        <i class="fas fa-angle-right me-2"></i>
                        <span data-translate="hakkimizda.sidebar.ourTeam">Nasıl Ulaşırım
                        ?</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/tr/fuar-sonuc-raporu">
                        <i class="fas fa-angle-right me-2"></i>
                        <span data-translate="hakkimizda.sidebar.boardOfDirectors">Fuar Sonuç
                        Raporu</span>
                    </a>
                    </li>
                </ul>
                </div>
            </li>
            </ul>
        </div>
        </div>
    </div>
