@model ErrorViewModel
@{
    ViewData["Title"] = "Hata";
}

<h1 class="text-danger">Hata.</h1>
<h2 class="text-danger">İsteğiniz işlenirken bir hata oluştu.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>İstek ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Geliştirme Modu</h3>
<p>
    <strong>Geliştirme</strong> ortamına geçiş, oluşan hata hakkında daha ayrıntılı bilgi görüntüleyecektir.
</p>
<p>
    <strong>Geliştirme ortamı, dağıtılmış uygulamalar için etkinleştirilmemelidir.</strong>
    Bu, istisnaların hassas bilgilerini son kullanıcılara gösterebilir.
    Yerel hata ayıklama için, <strong>ASPNETCORE_ENVIRONMENT</strong> ortam değişkenini <strong>Development</strong> olarak ayarlayarak ve uygulamayı yeniden başlatarak <strong>Geliştirme</strong> ortamını etkinleştirin.
</p>
