
@{
    ViewData["Title"] = "Exhibition Identification";
    ViewData["Description"] = "Exhibition Identification";
    ViewData["Keywords"] = "Exhibition Identification";
    ViewData["CanonicalUrl"] = "https://lesexpo.com/en/about-us/exhibition-identification";
    ViewData["AlternateUrls"] = new string[] { "https://lesexpo.com/tr/hakkimizda/fuar-kunyesi" };
}

@section styles{
        <link rel="stylesheet" href="/css/fuar-kunye.css">
        <style>
        .banner {
            position: relative;
            background-image: url('/images/LES5.jpg');
            /* Görselin yolu */
            background-size: cover;
            background-position: center;
            height: 300px;
            /* Yüksekliği isteğe göre ayarlayın */
            font-family: Arial, sans-serif;
            align-items: center;
            text-align: center;
        }

        .breadcrumb-1 a {
            color: white;
        }

        .sls {
            color: white;
        }
    </style>
}

    <div class="banner">
        <div class="banner-yazi">LES-EXPO</div>
        <div class="breadcrumb-1">
            <a href="index.html">Home Page / </a>
            <a href="exhibition-identification.html">Exhibition Identification</a>
        </div>
        </div>
    </div>
<div class="container main-container">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 sidebar-container">
            <div class="sidebar">
                <div class="sidebar-sticky">
                    <div class="sidebar-header p-3 mb-3 text-center">
                        <h3 class="" data-translate="hakkimizda.sidebar.mainTitle">LESEXPO</h3>
                        <p class="small mb-0" data-translate="hakkimizda.sidebar.subTitle">About
                        </p>
                    </div>
                    <ul class="nav flex-column">
                        <!-- Hakkımızda -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="collapse"
                                data-bs-target="#hakkimizdaSubmenu" aria-expanded="true">
                                <span class="menu-icon"><i class="fas fa-info-circle"></i></span>
                                <span data-translate="hakkimizda.sidebar.aboutUs">About Us</span>
                            </a>
                            <div class="collapse show" id="hakkimizdaSubmenu">
                                <ul class="nav flex-column submenu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="about-us.html">
                                            <i class="fas fa-angle-right me-2"></i>
                                            <span data-translate="hakkimizda.sidebar.bfmAbout">About
                                                LES-EXPO</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="exhibiton-identification.html">
                                            <i class="fas fa-angle-right me-2"></i>
                                            <span
                                                data-translate="hakkimizda.sidebar.presidentMessage">Exhibition
                                                Identification</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="exhibition-area.html">
                                            <i class="fas fa-angle-right me-2"></i>
                                            <span data-translate="hakkimizda.sidebar.qualityPolicy">Exhibition
                                                Area</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="how-to-reach.html">
                                            <i class="fas fa-angle-right me-2"></i>
                                            <span data-translate="hakkimizda.sidebar.ourTeam">How To
                                                Reach?</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="show-report.html">
                                            <i class="fas fa-angle-right me-2"></i>
                                            <span data-translate="hakkimizda.sidebar.boardOfDirectors">Post Show
                                                Report</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <div class="container-kunye col-md-9">
            <div class="main-content-kunye">
                <div class="header-text-kunye"></div>
                <div class="title-container-kunye">
                    <div class="title-left-kunye">
                        <h1>LES-EXPO</h1>
                    </div>
                </div>

                <h2 class="kunye-h2">LES-EXPO-Cargo Engineering Services Fair Meets You at Istanbul Fair Center
                    on September 9-11!</h2>

                <p class="kunye-p">Les-Expo 2025 brings together the latest developments, technologies and
                    innovative solutions in the field of freight engineering services.</p>

                <p class="kunye-p">This fair, which will be held with the participation of expert companies and
                    professionals in the field, will offer you a unique opportunity to discover the latest
                    trends in the sector and revolutionary innovations in engineering services. The fair, where
                    Load Engineering services will be exhibited in an area of ​​28 thousand square meters at the
                    Istanbul Fair Center, will offer both visitors and participants a business-oriented
                    experience where technology and trends are at the forefront.
                </p>

                <h2>Fair Calendar</h2>

                <div class="calendar-grid-kunye">
                    <div class="calendar-item-kunye">
                        <div class="calendar-header-kunye">Tuesday</div>
                        <div class="calendar-content-kunye">
                            LES-EXPO-Cargo Engineering Services Fair
                        </div>
                    </div>

                    <div class="calendar-item-kunye">
                        <div class="calendar-header-kunye">Wednesday</div>
                        <div class="calendar-content-kunye">
                            LESEXPO-Cargo Engineering Services Fair
                        </div>
                    </div>

                    <div class="calendar-item-kunye">
                        <div class="calendar-header-kunye">Perşembe</div>
                        <div class="calendar-content-kunye">
                            LESEXPO-Cargo Engineering Services Fair
                        </div>
                    </div>
                </div>

                <div class="salon-info-kunye">

                </div>
            </div>

            <div class="sidebar-kunye">
                <h3>Exhibition Identification</h3>

                <div class="info-item-kunye">
                    <div class="info-title-kunye">Start Date:</div>
                    <div class="info-content-kunye">09.09.2025</div>
                </div>

                <div class="info-item-kunye">
                    <div class="info-title-kunye">End Date:</div>
                    <div class="info-content-kunye">11.09.2025</div>
                </div>

                <div class="info-item-kunye">
                    <div class="info-title-kunye">Fair Topic:</div>
                    <div class="info-content-kunye">Load Engineering Services</div>
                </div>

                <div class="info-item-kunye">
                    <div class="info-title-kunye">Organizing Company:</div>
                    <div class="info-content-kunye">KFA Fuarcılık A.Ş.</div>
                </div>

                <div class="info-item-kunye">
                    <div class="info-title-kunye">Visiting hours:</div>
                    <div class="info-content-kunye">9.30 A.M - 6 P.M </div>
                </div>

                <div class="info-item-kunye">
                    <div class="info-title-kunye">Fair Area:</div>
                    <div class="info-content-kunye">Istanbul Fair Center</div>
                </div>

            </div>
        </div>
    </div>
</div>
    <!-- Sidebar mobile toggle button -->
    <button class="sidebar-toggle-button d-md-none">
      <i class="fas fa-bars"></i>
    </button>

