@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
    ViewData["Description"] = "About Us";
    ViewData["Keywords"] = "About Us";
}

@section styles{
    <link rel="stylesheet" href="~/css/hakkimizda.css">
     <style>
        .banner {
            position: relative;
            background-image: url('/images/LES5.jpg');
            /* Görselin yolu */
            background-size: cover;
            background-position: center;
            height: 300px;
            /* Yüksekliği isteğe göre ayarlayın */
            font-family: Arial, sans-serif;
            align-items: center;
            text-align: center;
        }

        .banner::before {
            content: '';
            background-color: rgba(0, 0, 0, 0.1);
            /* parlaklık azaltıcı katman */
            z-index: 1;
        }

        .banner-yazi {
            position: relative;
            font-size: 48px;
            font-weight: bold;
            padding-top: 178px;
            color: white;
        }

        .breadcrumb-1 a {
            color: white;
        }
        .pharmaist-section{text-align: center;}
    </style>
}


    <div class="banner">
        <div class="banner-yazi">LES-EXPO</div>
        <div class="breadcrumb-1">
            <a href="home.html">Home Page /</a>
            <a href="about-us.html">About Us</a>
        </div>
    </div>

<div class="container main-container">
            <div class="row">
                <!-- Sidebar -->
                <partial name="Components/AboutUs/_SidebarHakkimizda" />
                <!-- Main content -->
                <div class="content-area">
                    <section class="pharmaist-section">
                        <div class="pharmaist-text">
                            <h2 class="fw-bold fs-1">ABOUT LES-EXPO</h2>
                            <h3>Meeting in Istanbul on September 9-11, 2025!</h3>
                            <p>
                                LES-EXPO, the world's first and only specialized fair in the field of cargo engineering
                                services, will be held at the Istanbul Expo Center between September 9-11, 2025. This
                                giant organization, brought to life in cooperation with the Cargo Engineering
                                Association (YMB) and KFA Fair Organization, brings together the leading companies of
                                the sector from Europe, Asia and Africa, bringing together all components of the cargo
                                engineering ecosystem under one roof.
                            </p>
                            <p>Playing a critical role in sectors such as construction, energy, maritime, heavy industry
                                and infrastructure, cargo engineering services contribute approximately $12 billion to
                                the Turkish economy annually. LES-EXPO will bring together crane, machinery, vehicle,
                                equipment and service providers and provide the opportunity to learn about the latest
                                technologies and solutions in the sector.
                            </p>
                            <p>
                                The fair, which will be held in both indoor and outdoor areas at the Istanbul Expo
                                Center, aims to increase the global cooperation of the cargo engineering sector by
                                hosting visitors from three continents.

                                <a href="on-kayit-formu.html" class="text-danger fw-bold" target="_blank">Join!</a>
                                LES-EXPO to take your place in this important meeting that will shape the future of
                                the cargo engineering sector
                            </p>
                            <h2>What is Load Engineering?</h2>
                            <p> Load engineering is a multidisciplinary field that involves the safe, accurate and
                                planned lifting, transportation and placement of loads of unusual size and weight. This
                                process is not only realized with vehicles, but also with the planning, analysis and
                                decisions of the expert engineers who manage these vehicles.
                            </p>
                            <p>Although not formally defined, load engineering encompasses critical processes such as
                                risk analysis, ground assessment, vehicle selection and application monitoring in
                                heavy-duty transport operations by land, air, sea, rail, and sometimes even undersea.
                            </p>
                            <p>With the change of technology, climate and projects, the variety of cargo transported is
                                increasing, making the future role of cargo engineering specialists even more vital.</p>
                            <h2>The Future of Freight Engineering Takes Shape at Les-Expo</h2>
                            <p>
                                LES-EXPO 2025 brings together the latest developments, technologies and innovative
                                solutions in the cargo engineering sector. With the participation of expert companies
                                and professionals in the field, this fair offers a unique opportunity to discover the
                                latest trends in the sector and revolutionary innovations in engineering.
                                <br><br>
                                LES-EXPO, the center of innovations, technological breakthroughs and strategic
                                collaborations in the field of load engineering, is an international fair that brings
                                together all stakeholders in the sector under one roof. Exhibiting a wide range of
                                products and services from heavy-lifting
                                systems to transportation solutions, from structural support technologies to digital
                                planning tools, LES-EXPO is one of the gatherings that shape the engineering world.

                                During the fair, while leading companies in the sector exhibit their latest products and
                                projects, visitors have the opportunity to follow current trends on site, experience
                                technologies with practical demonstrations, and communicate directly with experts in
                                their fields.
                                <br><br>
                                LES-EXPO is not only an exhibition area, but also a dynamic platform for sharing
                                knowledge, transferring experience and establishing professional networks. This event,
                                full of seminars, technical sessions and special events, offers an inspiring environment
                                for both professionals looking for technical depth and those new to the sector.
                            </p>
                            <h2>Freight Engineering Services: The Strategic Discipline of Heavy Transportation</h2>
                            <p class="description-3">Load engineering is a multidisciplinary field that covers the safe,
                                accurate and planned lifting, transportation and placement of loads of unusual size and
                                weight. This process is not only realized with vehicles, but also with the planning,
                                analysis and decisions of the expert engineers who manage these vehicles.</p>
                            <p class="description-3">Although not formally defined, load engineering encompasses
                                critical processes such as risk analysis, ground assessment, vehicle selection, and
                                implementation monitoring in heavy-lift operations by land, air, sea, rail, and
                                sometimes even submarine.</p>
                            <p class="description-3">With the changing technology, climate and projects, the variety of
                                cargoes transported is increasing, making the future role of cargo engineering
                                specialists even more vital.</p>
                            <h2>OUR MISSION</h2>
                            <p>To produce reliable, durable and innovative construction equipment in the field of load
                                engineering;
                                to contribute to the development of the sector by offering solutions that will increase
                                the operational efficiency of our customers. To make a difference in the global market
                                with a sustainable and responsible production approach by focusing on technology,
                                quality and customer satisfaction.</p>
                            <h2>OUR VISION</h2>
                            <p>To be a leading brand in load-carrying technologies worldwide with advanced engineering
                                solutions. To design the construction equipment of the future today and to lead the
                                industrial transformation with R&D investments, digitalization and environmentally
                                friendly production strategies.</p>
                        </div>

                    </section>
                </div>
            </div>
        </div>
        <!-- Sidebar mobile toggle button -->
        <button class="sidebar-toggle-button d-md-none">
            <i class="fas fa-bars"></i>
        </button>

        <section class="foam-eurasia-section">
            <div class="foam-eurasia-container">
                <div class="foam-eurasia-text">
                    <h2>Rise in Load Engineering: LES-EXPO</h2>
                    <p> <strong>LES-EXPO</strong>, the region's most comprehensive fair for construction equipment and
                        heavy vehicle
                        solutions, brings together the industry to showcase the latest technology in the freight
                        engineering sector.
                    </p>

                    <p>Today, efficiency, safety and sustainability are indispensable concepts in the <strong>
                            construction,
                            mining, logistics and energy sectors.</strong> The companies that are pioneers of this
                        transformation are
                        making a difference in production with cranes with increased load-carrying capacities, smart
                        excavators and automation-supported heavy-duty vehicles.
                    </p>

                    <p>The latest products and technologies exhibited at the fair are a source of inspiration not only
                        for industry professionals, but also for all investors who want to shape the engineering
                        solutions of the future. The graphic on the right is a concrete indicator of this rapid
                        development process. R&D investments, sustainable designs and digitalization are increasing the
                        growth momentum of the sector every day.</p>

                    <p>LES-EXPO is not just an exhibition; it is a strategic platform that takes the pulse of the sector
                        and opens doors to business connections. The freight engineering technologies of the future are
                        shaped here.</p>
                </div>
                <div class="foam-eurasia-image">
                    <img src="./images/grafik.png" alt="Foam Eurasia Grafik">
                </div>
            </div>
        </section>





@section scripts{
    <script src="~/js/hakkimizda.js"></script>
}