@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




  <!-- Header Start -->
  <header class="main-header">
    <div class="container-navbar">
      <a href="/tr/index" class="logo mt-5">
        <!-- Gerçek logo dosyanızın yolunu buraya ekleyin -->
        <img src="/images/lesexpologo-inter.png" class="" alt="">
      </a>

      <nav class="main-nav">
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="#" class="nav-link">LES-EXPO <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/tr/hakkimizda">Hakkında</a></li>
              <li><a href="/tr/fuar-kunyesi">Fuar Künyesi</a></li>
              <li><a href="/tr/fuar-alani">Fuar Alanı</a></li>
              <li><a href="/tr/ulasim">Nasıl Ulaşırım ?</a></li>
              <li><a href="/tr/fuar-sonuc-raporu">Fuar Sonuç Raporu</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Katılımcı <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/tr/katilimci-profili">Katılımcı Profili</a></li>
              <li><a href="/tr/on-kayit-formu">Ön Kayıt Formu</a></li>
              <li><a href="/tr/neden-katilmalisiniz">Neden Katılmalısınız ?</a></li>
              <li><a href="/tr/katilimci-listesi">Katılımcı Listesi 2025</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Ziyaretçi <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/tr/ziyaretci-profili">Ziyaretçi Profili</a></li>
              <li><a href="/tr/neden-ziyaret-etmelisiniz">Neden Ziyaret Etmelisiniz ?</a></li>
              <li><a href="/tr/sss">Sıkça Sorulan Sorular</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Etkinlikler <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/tr/b2b-toplantıları">B2B Toplantıları</a></li>
              <li><a href="/tr/insights">LES Insights</a></li>
              <li><a href="/tr/experience">LES Experience</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Medya <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/tr/medya-logo">Logo</a></li>
              <li><a href="/tr/tum-haberler">Haberler</a></li>
              <li><a href="#">Galeri</a></li>
              <li><a href="#">Kurumsal Kimlik</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/tr/iletisim" class="nav-link">Bize Ulaşın</a>
          </li>
        </ul>
      </nav>

      <div class="header-actions">
        <div class="lang-switch mt-4">
          <div class="header-search">
            <input type="text" class="header-search-input" placeholder="Ara...">
            <button class="header-search-button">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <a href="/tr/online-bilet" class="trigger-button">ONLINE BİLET</a>
          <a href="index.html" class="active" data-lang="tr" data-translate="lang.tr">TR</a> | <a href="../en/home.html"
            class="#" data-lang="en" data-translate="lang.en">EN</a>
        </div>
        <div class="mobile-actions">
          <button class="search-toggle-button" aria-label="Arama">
            <i class="fas fa-search"></i>
          </button>
          <button class="mobile-menu-toggle nav-toggle-button" data-translate-aria-label="menu.toggleAriaLabel"
            aria-label="Menüyü Aç/Kapat">
            <i class="fas fa-bars"></i>
          </button>
        </div>
      </div>

    </div>
  </header>
  <!-- Header End -->
  <!-- Mobil Arama Çubuğu -->
  <div class="search-overlay">
    <div class="search-container">
      <div class="search-content">
        <input type="text" class="search-input" placeholder="Aramak istediğiniz kelimeyi yazınız...">
        <button class="search-close">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>

  </div>