@model List<ContentType>
@{
    ViewData["Title"] = "İçerik Türleri";
}
@section Styles{
	<link href="~/lib/datatables.net-dt/css/datatables.datatables.min.css" rel="stylesheet" />
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                İçerik Türleri
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ContentType" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Yeni İçerik Türü Oluştur
            </a>
        </div>
    </div>

    <div class="table-container">
        <table id="tblData" class="table" style="width:100%">
            <thead>
                <!-- DataTable will populate headers -->
            </thead>
            <tbody>
                <!-- DataTable will populate data -->
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_PartialReqScript" />

    <script>
        $(document).ready(() => {
            initializeDataTableWithOption('ContentType', [
                {
                    title: 'İsim',
                    data: 'name',
                    width: '80%'
                },
            ]);
        });
    </script>
} 