@{
    ViewData["Title"] = "Medya Logo";
    ViewData["Description"] = "LES-EXPO Medya Logo - LES-EXPO 2025'teki medya logosu ve logoları hakkında bilgi edinin.";
    ViewData["Keywords"] = "LES-EXPO, Medya Logo, Fair";

}
@section Styles{
    <link rel="stylesheet" href="/css/medya-logo.css">
    <link rel="stylesheet" href="/css/sidebar.css">

    <style>
        .banner {
            position: relative;
            background-image: url('/images/LES4.jpg');
            /* Görselin yolu */
            background-size: cover;
            background-position: center;
            height: 300px;
            /* Yüksekliği isteğe göre ayarlayın */
            color: white;
            font-family: Arial, sans-serif;
            align-items: center;
            text-align: center;
        }

        .banner-yazi {
            position: relative;
            font-size: 48px;
            font-weight: bold;
            padding-top: 178px;
        }
    </style>
    }

    <div class="banner">
        <div class="banner-yazi">LES-EXPO</div>
        <div class="breadcrumb-1">
        <a href="/tr">Ana Sayfa</a> /
        <a href="/tr/medya-logo">Medya</a>
        </div>
    </div>

        <div class="logo-container-2" id="logoContainer">
            <!-- Logolar buraya JavaScript ile eklenecek -->
        </div>



        <!-- Custom Scripts -->
@section Scripts {
    <script src="/js/medya-logo.js"></script>
}