<div class="col-md-3 sidebar-container">
    <div class="sidebar">
        <div class="sidebar-sticky">
            <div class="sidebar-header p-3 mb-3 text-center">
                <h3 class="" data-translate="hakkimizda.sidebar.mainTitle">LESEXPO</h3>
                <p class="small mb-0" data-translate="hakkimizda.sidebar.subTitle">About
                </p>
            </div>
            <ul class="nav flex-column">
                <!-- Hakkımızda -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="collapse"
                        data-bs-target="#hakkimizdaSubmenu" aria-expanded="true">
                        <span class="menu-icon"><i class="fas fa-info-circle"></i></span>
                        <span data-translate="hakkimizda.sidebar.aboutUs">About Us</span>
                    </a>
                    <div class="collapse show" id="hakkimizdaSubmenu">
                        <ul class="nav flex-column submenu">
                            <li class="nav-item">
                                <a class="nav-link" href="about-us.html">
                                    <i class="fas fa-angle-right me-2"></i>
                                    <span data-translate="hakkimizda.sidebar.bfmAbout">About
                                        LES-EXPO</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="exhibiton-identification.html">
                                    <i class="fas fa-angle-right me-2"></i>
                                    <span
                                        data-translate="hakkimizda.sidebar.presidentMessage">Exhibition
                                        Identification</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="exhibition-area.html">
                                    <i class="fas fa-angle-right me-2"></i>
                                    <span data-translate="hakkimizda.sidebar.qualityPolicy">Exhibition
                                        Area</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="how-to-reach.html">
                                    <i class="fas fa-angle-right me-2"></i>
                                    <span data-translate="hakkimizda.sidebar.ourTeam">How To
                                        Reach?</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="show-report.html">
                                    <i class="fas fa-angle-right me-2"></i>
                                    <span data-translate="hakkimizda.sidebar.boardOfDirectors">Post Show
                                        Report</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>